$ocean2-animation-movement-top: 87%;
$ocean2-animation-movement-top--down:88%;

$balloon2-animation-movement-bottom: 50%;
$balloon2-animation-movement-bottom--up:59%;

$balloon-animation-assembly-delay: 5.5s;


$balloon2-animation-assembly-delay: 5.7s;
$balloon2-animation-movement-delay: 6.7s;

