$ocean2-animation-movement-top: 87%;
$ocean2-animation-movement-top--down:88%;

// --------------------------------------

$balloon2-animation-assembly-bottom: 50%;
$balloon2-animation-assembly-bottom--up:59%;

$balloon2-animation-movement-top:18%;
$balloon2-animation-movement-top--up: 17.8%;
$balloon2-animation-movement-right:12%;
$balloon2-animation-movement-right--final:3%;

$balloon2-animation-assembly-delay: 5.7s;
$balloon2-animation-movement-delay: 6.7s;

// --------------------------------------

$balloon-animation-assembly-bottom: 40%;
$balloon-animation-assembly-bottom--up:48%;


$balloon-animation-assembly-delay: 5.3s;
$balloon-animation-movement-delay: 6.7s;

$greetingsText-timeFadeIn: 4.3s;
$nameText-timeFadeIn: 4.33s;







