@import 'components/_colors';
@import 'components/_animation_variables';



.img-animation--continent {
  -webkit-animation: assembly--continent 1s 1s forwards;
  animation: assembly--continent 1s 1s forwards;
}


@-webkit-keyframes assembly--continent {
  0% {
    bottom: -20%;
  }

  100% {
    bottom: 0;
  }
}

.img-animation--atomium {
  -webkit-animation: assembly--atomium 1s 3.2s forwards;
  animation: assembly--tratomium 1s 2s forwards;
}

@-webkit-keyframes assembly--atomium {
  0% {
    width: 0%;
  }

  50% {
    width: 8.5%;
  }

  100% {
    width: 8%;
  }
}

.img-animation--tree {
  -webkit-animation: assembly--tree_1 1s 2.8s forwards;
  animation: assembly--tree_1 1s 2s forwards;
}

@-webkit-keyframes assembly--tree_1 {
  0% {
    width: 0%;
  }

  50% {
    width: 6%;
  }

  100% {
    width: 5.05%;
  }
}
.img-animation--eiffel_tower {
  -webkit-animation: assembly--eiffel_tower 1 1s 3.1s forwards;
  animation: assembly--eiffel_tower 1s 1.5s forwards;
}

@-webkit-keyframes assembly--eiffel_tower {
  0% {
    width: 0%;
  }

  50% {
    width: 12%;
  }

  100% {
    width: 11.65%;
  }
}

.img-animation--tree_2 {
  -webkit-animation: assembly--tree_2 1s 4s forwards;
  animation: assembly--tree_2 1s 2s forwards;
}

@-webkit-keyframes assembly--tree_2 {
  0% {
    width: 0%;
  }

  50% {
    width: 5%;
  }

  100% {
    width: 4.571%;
  }
}

.img-animation--tree_3 {
  -webkit-animation: assembly--tree_3 1s 4s forwards;
  animation: assembly--tree_3 1s 2s forwards;
}

@-webkit-keyframes assembly--tree_3 {
  0% {
    width: 0%;
  }

  50% {
    width: 3.5%;
  }

  100% {
    width: 3.125%;
  }
}
.img-animation--mountain {
  -webkit-animation: assembly--mountain 1s 4.5s forwards;
  animation: assembly--mountain 1s 4.5s forwards;
}

@-webkit-keyframes assembly--mountain {
  0% {
    bottom: -20%;
  }

  100% {
    bottom: 9%;
  }
}
.img-animation--ocean_1 {
  -webkit-animation: ocean--movement 5s 2.5s infinite, ocean--assembly 1s 1.3s;
  animation: ocean--movement 5s 3s infinite, ocean--assembly 1.3s;
  -webkit-animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ocean--movement {
  0% {
    left: -2%;
    top: 93%;
  }

  10% {
    top: 92%;
  }

  20% {
    top: 93%;
  }

  30% {
    top: 92%;
  }

  40% {
    top: 93%;
  }

  50% {
    left: -4%;
    top: 92%;
  }

  60% {
    top: 93%;
  }

  70% {
    top: 92%;
  }

  80% {
    top: 93%;
  }

  90% {
    top: 92%;
  }

  100% {
    left: -2%;
    top: 93%;
  }
}

@-webkit-keyframes ocean--assembly {
  0% {
    bottom: -20%;
  }

  100% {
    bottom: -4%;
  }
}

@-webkit-keyframes ocean {
  0% {
    left: 0;
  }

  50% {
    left: -2%;
  }

  100% {
    left: 0;
  }
}

@keyframes ocean {
  0% {
    left: 0;
  }

  50% {
    left: -2%;
  }

  100% {
    left: 0;
  }
}
.img-animation--ireland {
  -webkit-animation: ireland--assembly 1s 2s forwards;
  animation: ireland--assembly 1s 2.5s forwards;
}

@-webkit-keyframes ireland--assembly {
  0% {
    bottom: -40%;
  }

  100% {
    bottom: 2%;
  }
}

.img-animation--castle {
  -webkit-animation: assembly--castle 1s 3.4s forwards;
  animation: assembly--castle 1s 2s forwards;
}

@-webkit-keyframes assembly--castle {
  0% {
    width: 0%;
  }

  50% {
    width: 14%;
  }

  100% {
    width: 13.25%;
  }
}
.img-animation--ocean_2 {
  -webkit-animation: ocean2--movement 5s 2.5s infinite, ocean2--assembly 1s 1.5s forwards;
  animation: ocean2--movement 5s 2.5s infinite, ocean2--assembly 1s 1.5s forwards;
}

@-webkit-keyframes ocean2--movement {
  0% {
    left: -2%;
    top: $ocean2-animation-movement-top;
  }

  10% {
    top: $ocean2-animation-movement-top--down;
  }

  20% {
    top: $ocean2-animation-movement-top;
  }

  30% {
    top: $ocean2-animation-movement-top--down;
  }

  40% {
    top: $ocean2-animation-movement-top;
  }

  50% {
    left: 0%;
    top: $ocean2-animation-movement-top--down;
  }

  60% {
    top: $ocean2-animation-movement-top;
  }

  70% {
    top: $ocean2-animation-movement-top--down;
  }

  80% {
    top: $ocean2-animation-movement-top;
  }

  90% {
    top: $ocean2-animation-movement-top--down;
  }

  100% {
    left: -2%;
    top: $ocean2-animation-movement-top;
  }
}

@-webkit-keyframes ocean2--assembly {
  0% {
    bottom: -40%;
  }

  100% {
    bottom: 2%;
  }
}

.img-animation--england {
  -webkit-animation: england--assembly 1s 2.2s forwards;
  animation: england--assembly 1s 2.2s forwards;
}

@-webkit-keyframes england--assembly {
  0% {
    bottom: -40%;
  }

  100% {
    bottom: 6%;
  }
}

.img-animation--bigben {
  -webkit-animation: assembly--bigben 1s 3.3s forwards;
  animation: assembly--bigben 1s 2s forwards;
}

@-webkit-keyframes assembly--bigben {
  0% {
    width: 0%;
  }

  50% {
    width: 6.3%;
  }

  100% {
    width: 5.9%;
  }
}

.img-animation--balloon {
  -webkit-animation: movement--horizontal--balloon1 5s $balloon-animation-movement-delay alternate infinite, 
  assembly--balloon1 1s $balloon-animation-assembly-delay forwards,
  movement--vertical--balloon1 3s ease-in $balloon-animation-movement-delay infinite;
}

@-webkit-keyframes movement--horizontal--balloon1 {
 0% {
    transform: translateX(0%) translateY(0%);
    animation-delay: 0s;
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateX(20%) translateY(-10%);
    animation-delay: 0s;
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(40%) translateY(0%);
    animation-delay: 0s;
    animation-timing-function: ease-in;
  }

}

@-webkit-keyframes assembly--balloon1 {
  0% {
    bottom: $balloon-animation-assembly-bottom;
    opacity: 0;
  }

  100% {
    bottom: $balloon-animation-assembly-bottom--up;
    opacity: 1;
  }
}

.img-animation--balloon2 {
  -webkit-animation: movement--balloon2 30s $balloon2-animation-movement-delay infinite, assembly--balloon2 1s $balloon2-animation-assembly-delay forwards;
  animation: movement--balloon2 30s 4.1s infinite, assembly--balloon2 1s 6s forwards;
}

@-webkit-keyframes movement--balloon2 {
  0% {
    right: $balloon2-animation-movement-right;
    top: $balloon2-animation-movement-top;
  }

  1% {
    top: $balloon2-animation-movement-top--up;
  }

  3% {
    top: $balloon2-animation-movement-top;
  }

  5% {
    top: $balloon2-animation-movement-top--up;
  }

  7% {
    top: $balloon2-animation-movement-top;
  }

  9% {
    top: $balloon2-animation-movement-top--up;
  }

  11% {
    top: $balloon2-animation-movement-top;
  }

  13% {
    top: $balloon2-animation-movement-top--up;
  }

  15% {
    top: $balloon2-animation-movement-top;
  }

  17% {
    top: $balloon2-animation-movement-top--up;
  }

  19% {
    top: $balloon2-animation-movement-top;
  }

  21% {
    top: $balloon2-animation-movement-top--up;
  }

  23% {
    top: $balloon2-animation-movement-top;
  }

  25% {
    top: $balloon2-animation-movement-top--up;
  }

  27% {
    top: $balloon2-animation-movement-top;
  }

  29% {
    top: $balloon2-animation-movement-top--up;
  }

  31% {
    top: $balloon2-animation-movement-top;
  }

  33% {
    top: $balloon2-animation-movement-top--up;
  }

  35% {
    top: $balloon2-animation-movement-top;
  }

  37% {
    top: $balloon2-animation-movement-top--up;
  }

  39% {
    top: $balloon2-animation-movement-top;
  }

  41% {
    top: $balloon2-animation-movement-top--up;
  }

  43% {
    top: $balloon2-animation-movement-top;
  }

  45% {
    top: $balloon2-animation-movement-top--up;
  }

  47% {
    top: $balloon2-animation-movement-top;
  }

  50% {
    right: $balloon2-animation-movement-right--final;
    top: $balloon2-animation-movement-top--up;
  }

  51% {
    top: $balloon2-animation-movement-top--up;
  }

  53% {
    top: $balloon2-animation-movement-top;
  }

  55% {
    top: $balloon2-animation-movement-top--up;
  }

  57% {
    top: $balloon2-animation-movement-top;
  }

  59% {
    top: $balloon2-animation-movement-top--up;
  }

  61% {
    top: $balloon2-animation-movement-top;
  }

  63% {
    top: $balloon2-animation-movement-top--up;
  }

  65% {
    top: $balloon2-animation-movement-top;
  }

  67% {
    top: $balloon2-animation-movement-top--up;
  }

  69% {
    top: $balloon2-animation-movement-top;
  }

  71% {
    top: $balloon2-animation-movement-top--up;
  }

  73% {
    top: $balloon2-animation-movement-top;
  }

  75% {
    top: $balloon2-animation-movement-top--up;
  }

  77% {
    top: $balloon2-animation-movement-top;
  }

  79% {
    top: $balloon2-animation-movement-top--up;
  }

  81% {
    top: $balloon2-animation-movement-top;
  }

  83% {
    top: $balloon2-animation-movement-top--up;
  }

  85% {
    top: $balloon2-animation-movement-top;
  }

  87% {
    top: $balloon2-animation-movement-top--up;
  }

  89% {
    top: $balloon2-animation-movement-top;
  }

  91% {
    top: $balloon2-animation-movement-top--up;
  }

  93% {
    top: $balloon2-animation-movement-top;
  }

  95% {
    top: $balloon2-animation-movement-top--up;
  }

  97% {
    top: $balloon2-animation-movement-top;
  }

  100% {
    right: $balloon2-animation-movement-right;
    top: $balloon2-animation-movement-top;
  }
}

@-webkit-keyframes assembly--balloon2 {
  0% {
    bottom: $balloon2-animation-assembly-bottom;
    opacity: 0;
  }

  100% {
    bottom: $balloon2-animation-assembly-bottom--up;
    opacity: 1;
  }
}

.greetings_text {
  -webkit-animation: assembly--greetings_text 1s 0s forwards;
  animation: assembly--greetings_text 1s 4.3s forwards;
}

@-webkit-keyframes assembly--greetings_text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.name_text {
  -webkit-animation: assembly--name_text 1s 0s forwards;
  animation: assembly--name_text 1s 4.33s forwards;
}

@-webkit-keyframes assembly--name_text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}