@import 'components/_colors';
@import 'components/_animation_variables';
@import 'components/_normalize';


@import url(http://fonts.googleapis.com/css?family=Dosis|Lobster);
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: $blue-sky-medium;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100%;
}

.clear {
  clear: both;
}

.load_screen {
  height: 100%;
  width: 100%;
  background: $blue-sky-medium;
  position: absolute;
  z-index: 7;
}

.img-animation {
  position: absolute;
}

.img-animation--continent {
  bottom: -20%;
  right: 0;
  z-index: 5;
  width: 54%;
}

.img-animation--atomium {
  bottom: 5%;
  right: 40%;
  z-index: 5;
  width: 0%;
}

.img-animation--tree {
  bottom: 10%;
  right: 32%;
  z-index: 5;
  width: 0%;
}

.img-animation--eiffel_tower {
  bottom: 8.2%;
  right: 18%;
  z-index: 5;
  width: 0%;
}

.img-animation--tree_2 {
  bottom: 6%;
  right: 11%;
  z-index: 5;
  width: 0%;
}

.img-animation--tree_3 {
  bottom: 6%;
  right: 9%;
  z-index: 5;
  width: 0%;
}

.img-animation--mountain {
  bottom: -30%;
  right: 1%;
  z-index: 4;
  width: 22.018%;
  transform: rotate(17deg);
}

.img-animation--ocean_1 {
  bottom: -20%;
  left: -2%;
  z-index: 4;
  width: 56.4%;
}

.img-animation--ireland {
  bottom: -40%;
  left: 2%;
  z-index: 3;
  width: 24.4%;
}

.img-animation--castle {
  bottom: 9%;
  left: 7%;
  z-index: 4;
  width: 0%;
}

.img-animation--ocean_2 {
  bottom: -40%;
  left: -2%;
  z-index: 2;
  width: 56.85%;
}

.img-animation--england {
  bottom: -40%;
  left: 25%;
  z-index: 1;
  width: 25%;
}



.img-animation--bigben {
  bottom: 12%;
  left: 34%;
  z-index: 1;
  width: 0%;

}


.img-animation--balloon {
  bottom: 40%;
  left: 12%;
  z-index: 1;
  width: 7.1%;
  opacity: 0;

}

.img-animation--balloon2 {
  bottom: $balloon2-animation-assembly-bottom;
  right: 12%;
  z-index: 1;
  width: 8.1%;
  opacity: 0;

}

.text {
  // position: relative;
  // z-index: 6;
  // margin: 0 auto;
  // max-width: 900px;
  // width:100%;
  // height:100%;
}

.textContainer{
  position: absolute;
    position: absolute;
  left: 50%;
  top: 30%;
  
  /*
  Nope =(
  margin-left: -25%;
  margin-top: -25%;
  */

  /* 
  Yep!
  */
  transform: translate(-50%, -50%);
}

.greetings_text {
  font-family: 'Lobster';
  font-size: 8vw;
  vertical-align: baseline;
  opacity: 0;
  color: white;
  display:inline-block; 
}

.greetings_text-letter {
  display: block;
  float: left;
  text-align: center;
}

.name_text {
  font-family: "Helvetica";
  font-weight: 800;
  font-size: 4vw;
  opacity: 0;
  display:inline-block; 
  float: right;
}

.name_text-letter {
  color: $red-name-medium;
  text-shadow: 0 2px $red-name-dark;
  display: block;
  float: left;
  text-align: center;
  margin: 0;
}


